/* application css */
body {margin:0px;}
#main {}
.hl {color:red;}
.h1 {font-size:200%;color:blue}
.h2 {font-size:175%;color:green;}
.h3 {font-size:150%;color:yellow}
.h4 {font-size:125%;color:orange}
.h5 {font-size:110%;color:purple}
.h6 {font-size:100%;}
.h7 {font-size:100%;}
.h8 {font-size:100%;}
.h9 {font-size:100%;}